.article {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 24px;

	/* корректный fallback */
	max-width: var(--container-width, 100%);
	margin: 0 auto;
	padding: 72px 0 144px;
}

.titleDescription {
	max-width: 550px;
}

.image {
	width: 100%;
	height: auto;
	margin-top: 26px;
}
